<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">

        <div class="container-fluid">

            <!-- LOGO = BRAND -->
            <a href="#" class="navbar-brand">
                LA FABRIQUE A PENDOUILLES
            </a>
            <!-- MENU -->

        </div>

    </nav>
    <div class="container">
        <div class="row p-5">
            <div class="col-7 text-center">
                La fabrique à pendouilles vous accueille tous les jours entre 9h et 18h dans sa boutique face à la
                mer.


            </div>
            <div class="col-5"><img src="https://picsum.photos/500/200"></div>
        </div>
        <div class="row p-2">
            <div class="col-3 text-center"><img src="https://picsum.photos/200/200"></div>

            <div class="col-6 text-center">

                Pour découvrir nos pendouilles, en bricoler une de votre choix ou meme juste pour prendre un petit café dans une chaise longue,
                n'hésitez pas à passer

            </div>
            <div class="col-3 text-center"><img src="https://picsum.photos/200/200"></div>
        </div>


    </div>
</div>
</body>
</html>
